### 忽略数据目录，仅保留云盘地址 ###
### 此处训练数据因为是Large File，所以不予上传，仅提供链接下载 ###
data/corn_leaf/train/1/**/*
data/corn_leaf/train/2/**/*
data/corn_leaf/train/3/**/*
data/corn_leaf/train/4/**/*
data/corn_leaf/train/5/**/*
data/corn_leaf/train/6/**/*
data/corn_leaf/train/7/**/*

data/corn_leaf/valid/1/**/*
data/corn_leaf/valid/2/**/*
data/corn_leaf/valid/3/**/*
data/corn_leaf/valid/4/**/*
data/corn_leaf/valid/5/**/*
data/corn_leaf/valid/6/**/*
data/corn_leaf/valid/7/**/*

# 忽略 acc_model 下面我训练的模型
acc_model/**
!app/original_model/
# !acc_model/original_model/**

# Large files 无法上传，我自己训练的模型以及原始模型，请移步Google云盘链接
*.pt
*.pth